.gitattributes eol=lf
.gitignore  eol=lf
*.txt       eol=lf
*.h         eol=lf
*.cpp       eol=lf
*.sh        eol=lf
*.bat       eol=crlf
*.cmd       eol=crlf
*.dll       binary
*.so        binary
*.dylib     binary
*.7z        binary
*.pdf       binary
*.png       binary
*.jpg       binary
*.bmp       binary
*.gif       binary
*.ico       binary
*.icns      binary
*.gz        binary
*.doc       binary
